mixin PreviewList(articles, className)
  -var classes = [className, 'preview'];

  section(class=classes)
    h2.visually-hidden
    ul.preview__list
      each article in articles
        li.preview__item(class=article.picture ? `` : `preview__item--noimage`)
          ul.preview__breadcrumbs
            each category in article.categories
              li.preview__breadcrumbs-item
                a.preview__breadcrumbs-link(href=`#`) #{category}
          if article.picture
            div.preview__background
              img.preview__background-image(src=`${article.picture}` width='460' height='240' alt=`${article.title}`)
          time.preview__time(datetime=`${article.datetime}`) #{article.date}
          h3.preview__name
            a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
          p.preview__text #{article.fullText}
          a.preview__comment(href='#') Комментарии
            span.preview__cloud
            b.preview__comment-count #{article.comments.length}
